<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<style>
		img#foodMenuImage {
			width: 300px;
		}
	</style>
</head>

<body>
	<h5>Welcome to GqShop</h5>
	<h2 id="foodMenuName">FOOD NAME</h2>
	<image id="foodMenuImage"></image>
	<h5 id="foodMenuDescription">description</h5>


	<label for="quantity">Quantity</label>
	<input type="number" id="orderQuantity" name="quantity" min="1" value="1">
	
	<button type="button" class="button" id="btnCart">Cart</button>
	
	<p>EOF</p>
</body>

<script>
	var foodName = "[[${foodname}]]";
	var foodMenuUuid = "[[${foodMenuUuid}]]";
	var apiFoodMenu = `/api/foodmenu`;
	var apiFoodOrder = `/api/order`;
	var foodMenuName = "";

	window.onload = function () {
		console.log("loading foodmenu..");

		$.ajax({
			url: `${apiFoodMenu}/uuid/${foodMenuUuid}`,
			success: function (data) {

				console.log(data)

				foodMenuName = data.name;
				$("#foodMenuName").text(data.name)
				$("#foodMenuDescription").text(data.description)
				$("#foodMenuImage").attr("src", data.imageUrl)

				$("#btnCart").click(function () {

					var savedDataArray = new Array();
					var savedData = new Object();
					
					var cartSession = sessionStorage.getItem("cart");
					
					var orderQty = $('#orderQuantity')[0].value;

					savedData.id = foodMenuUuid;
					savedData.amount = orderQty;
					savedData.name = foodMenuName;

					if(cartSession == null){
						savedDataArray.push(savedData);
						sessionStorage.setItem("cart", JSON.stringify(savedDataArray));
						
					}else{
						savedDataArray = JSON.parse(cartSession)
						//이미 savedDataArray에 id가 담겨있는지 확인
						console.log(savedDataArray.length)
						
						let bExistInCart = false;
						for(idx in savedDataArray){
							if(savedDataArray[idx].id == foodMenuUuid){
								bExistInCart = true;	
							}
						}
						
						if(bExistInCart){
							let numAmount = parseInt(savedDataArray[idx].amount) + parseInt(orderQty);
							savedDataArray[idx].amount = String(numAmount);
							sessionStorage.clear();
							sessionStorage.setItem("cart", JSON.stringify(savedDataArray));
						}else{
							savedDataArray.push(savedData);
							sessionStorage.clear();
							sessionStorage.setItem("cart", JSON.stringify(savedDataArray));
						}
					}

					alert('Complete To Add to My Cart!!');
					window.location.href= "/customer/food_menu"; 
					
				});
				
			}
		});
	}

	
</script>

</html>